<%= form_tag("/health_records") do %>
  <% @health_records.sort.each do |hr,val| %>
    <h2><%= hr.titleize %></h2>
    <% (val.collect(){|c| c unless((["existing_web_login", "touched", "existing_contact", "id"].include? c) || c.class==Hash || c.class==Array)}).compact.each do |h| %>
    <%= label_tag("fields["+hr+"]["+h+"]", h.titleize) %> <%= text_field_tag("fields["+hr+"]["+h+"]") %><br />
    <% end %>
  <% end %>
  <div class="subgroup">
    <%= submit_tag %>
  </div>
<% end %>
