<h1>Created Health Profile</h1>
<p>The following entries have been successfully created:</p>
<% @health_records.sort.each do |hr| %>
<h2><%= hr.first.titleize %></h2>
<% if hr.last.class.to_s == "Array" %>
<% hr.last.each do |h| %>
<div class="subgroup">
  <% h.each do |e| %>
  <strong><%= e.first.titleize %></strong> : <%= e.last %><br />
  <% end %>
</div>
<% end %>
<% else %>
<div class="subgroup">
  <% hr.last.each do |e| %>
  <strong><%= e.first.titleize %></strong> : <%= e.last %><br />
  <% end %>
</div>
<% end %>
<%  end %>
<div class="subgroup">
<%= link_to "Create new health record", new_health_record_url %> | <%= link_to 'Back', health_records_path %>
</div>